bin
lib
pkg
build
sounds
system
SDL_sources

dart

*.out
*.o
*.a
*.so
*.dll
*.swp
*.swo
*.mp3
*.wav
*.xxd
*.exe

*.png
*.mp3
*.mp4
*.wav
*.jpg

*.pyc
*.class
*.dart

./py/stdtkinter/calculator
./c++/src/sdl2/splayer/mt
__pycache__
